.main{
	margin-left: 50px;
}
#slide{
	width: 100%;
}
#slide:hover{
	margin-left: 50%;
	margin-right: -50%;
	transition: 1s;
}
#slide:hover #main3{
	visibility: visible;
	transition: 1s;
	z-index: 1;
}
#slide:hover .left{
	position: absolute;
	z-index: 2;
}
#slide:hover #main1{
	padding-right: 80px;
	transition: 1s;
}


#main1{
	padding-top: 90px;
	padding-bottom:90px;
	background-color: #7833cc;
	width: 50%;
	color: white;
	font-family: "Roboto";
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	font-size: 130px;
	float: left;
	padding-right: 30px;
	overflow: hidden;

}

#main2{
	background-color: #f6f2f7;
	width: 50%;
	padding-top: 90px;
	padding-bottom:90px;
	color: #7833cc;
	font-weight: bold;
	font-family: "Roboto";
	text-align: left;
	vertical-align: middle;
	font-size: 130px;
	float: left;
	padding-left: 20px;

}
#main3{
	background-color: #7833cc;
	width: 50%;
	margin-left: -50%;
	font-family: "Arial";
	float: left;
	text-align: center;
	visibility: hidden;
	padding-left: 10%;
	padding-top: 120px;
	height: 100%;

}

#p1{
	color: white;
	font-size: 15px;
}
#p2{
	font-size: 22px;
}
#p3{
	font-size: 25px;
}
#dot {
  height: 40px;
  width: 40px;
  background-color: #7833cc;
  border-radius: 50%;
  display: inline-block;
}


.button{
	border-radius: 30px;
	padding-left:100px;
	padding-right:100px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 20px;
	border: none;

}
.btn1{
		background-image: linear-gradient(to right,#a5adad, #72e6e8);
}
.button:hover{
	background-image:linear-gradient( to right ,#7833cc,#7833cc);
	color:white;
}
.typewriter{
	width: 70px;
	height: 70px;
	margin-left: -50px;
}
.view:hover{
	background-color: #7833cc;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}
.view a:hover{
	color: white;
}

.box{
	width: 100%;
	margin-bottom: 10px;
	background-color: #F5F7FA;
	padding-left:35px;
	padding-right:35px;
	padding-top: 10px;
	padding-bottom: 50px;


}
.contact{
	background-color: white;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	padding:5px;
	float: left;
	width: 14%;
	min-width: 200px;
}
.card_image{
	border-radius: 50%;
	height: 70px;
	width: 70px;
}
.name{
	font-size: 20px;
	padding-top: 5px;
	font-family: Arial;
}
.email{
	font-size: 14px;
	color: #a1a2a6;
	padding-top: 2px;
}
.email :hover{
	color: #a1a2a6;


}
.view{
	font-size: 14px;
	color: #a1a2a6;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;

}
.view :hover{
	color: #a1a2a6;

}
.contact2{
	margin-left: 30px;
	background-color: white;
	float: left;
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 50px;
	border-radius: 5px;
	text-align: center;
	padding:5px;
	width: 20%;
	min-width: 200px;
}

.left{
	width: 50px;
	color: #7833cc;
}
.icons{
	position: fixed;
	top: 300px;
	margin-left: 10px;
	margin-right: -10px;

}

.hey{
	margin:-10px;
}

footer{
	background-color: white;
	height: 200px;
	text-align: center;
}
.col-lg-5{
	text-align: left;
	padding-top: 35px;
	color: #7833cc;
	font-size: 14px;
	margin-left: 60px;
	
}
.col-lg-5 a{
	font-weight: bold;
}
#img2{
	width: 100px;
	height: 45px;
}
#copyright{
	font-size: 13px;
	color: #b5b7ba;
	margin-top: 10px;
}
.col-lg-2{
	text-align: left;
	font-weight: bold;
}
.col-lg-3 a{
	color: #7833cc;
}
.col-lg-3 .row{
	padding-bottom: 15px;

}
#address{
	font-weight: normal;
	font-size: 13px;
}
.col-lg-3{
	margin-top: 15px;
	text-align: left;
	font-weight: bold;
}

#about{
	color: #b5b7ba;
	font-weight: normal;
	font-size: 14px;

}

@media screen and (max-width: 1000px){
	
	.col-lg-3,.col-lg-2, .col-lg-5{
		text-align: center;
	}
	.col-lg-5{
		margin-left: 0px;
	}
}
@media screen and (max-width: 810px){
	.text1{
		font-size: 60px;
	}

	#dot{
		height: 20px;
		width: 20px;
		margin-left: -10px;
	}
	.typewriter{
		visibility: hidden;
	}
	.box{
		padding-left: 25%;
		margin-right: 0px;	
	}


	#links{
		margin-left: 20px;
		margin-right: 10px;
	}

	.main{
		margin-right: 0px;
	}


	.button{
	border-radius: 30px;
	padding-left:80px;
	padding-right:80px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
	font-size: 20px;
	border: none;
	}
	
	#slide:hover{
		margin: 0%;
	}
	#slide:hover #main3{
		visibility: hidden;
	}
	#slide:hover #main1{
		padding-right:30px; 
	}
}
@media screen and (max-width: 440px){
	.text1{
		font-size: 40px;
	}
}