body{
	background-color: #c9a690;
}
#name{
	font-family: "Times New Roman", "Arial","Helvetica";
	color: #000501;
	margin: 50px;
	text-align: center;
	font-weight: bold;
}
#main{
	width: 80%;
	margin-left:10%;
	color: #353238;
	margin-right:10%;
	margin-top: 20px;
	background-color: #ffeecf;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: -50px;
	font-family: "Serif";
	margin-bottom: 40px;

}
#content{
	font-size: 20px;
}
a{
	color: green;
}

h3, h2{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 20px;
}
#img2{
	height: 220px;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	margin-bottom: 70px;
	box-shadow: 5px 5px 5px 5px;
}
#about{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}

li{
	margin-bottom: 10px;
}
.img3{
	height: 50px;
	width: 50px;
	margin: 15px;
}

#name{
	margin-top: 100px;
}
